.club-container {
    border: 2px solid #ff0055;
    padding: 40px;
    width: 700px; /* Increase the width to 500px */
    background-color: #0d0d0e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    text-align: left; /* Left-align the text within the container */
}

.club-heading {
    text-align: center; /* Center-align only the heading */
}

/* Common styling for profile information items */
.club-info {
    font-size: 18px;
    margin: 10px 0;
}

/* Hover effect adjustments */
.club-container:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
