/* components/Auth/Register.css */

.container {
  border: 2px solid #ff0055;
  padding: 40px;
  width: 400px;
  background-color: #0d0d0e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  text-align: left; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin: 10px 0;
  }
  
  button {
    background-color: #5645a0;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5645a0;
  }
  
  p {
    margin-top: 20px;
  }
  